:root {
/* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
    -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(
        --radio-dot-width
      ) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
    var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--ButtonDkShadow),
    inset 1px 1px var(--ButtonHilight);
  --border-raised-inner: inset -2px -2px var(--ButtonShadow),
    inset 2px 2px var(--ButtonLight);
  --border-sunken-outer: inset -1px -1px var(--ButtonHilight),
    inset 1px 1px var(--ButtonDkShadow);
  --border-sunken-inner: inset -2px -2px var(--ButtonLight),
    inset 2px 2px var(--ButtonShadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--ButtonDkShadow),
    inset 1px 1px var(--ButtonLight);
  --border-window-inner: inset -2px -2px var(--ButtonShadow),
    inset 2px 2px var(--ButtonHilight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--ButtonHilight),
    inset 1px 1px var(--ButtonShadow), inset -2px -2px var(--ButtonLight),
    inset 2px 2px var(--ButtonDkShadow);

  /* Text boxes */
  --text-box-border: inset -1px -1px var(--ButtonHilight), inset 1px 1px var(--ButtonShadow), inset -2px -2px var(--ButtonLight), inset 2px 2px var(--ButtonDkShadow);

  /* Toolbar button hover borders */
  --toolbar-border-raised-outer: inset -1px -1px var(--ButtonShadow),
    inset 1px 1px var(--ButtonHilight);
  --toolbar-border-raised-inner: inset 2px 2px #0000;
  --toolbar-border-sunken-outer: inset -1px -1px var(--ButtonHilight),
    inset 1px 1px var(--ButtonShadow);
  --toolbar-border-sunken-inner: inset -2px -2px #0000,
    inset 2px 2px #0000;

  /* Border variations */
  --noleft-border-raised-outer: inset -1px -1px var(--ButtonDkShadow),
    inset 0px 1px var(--ButtonHilight);
  --noleft-border-raised-inner: inset -2px -2px var(--ButtonShadow),
    inset 0px 2px var(--ButtonLight);  
  --noright-border-raised-outer: inset 0px -1px var(--ButtonDkShadow),
    inset 1px 1px var(--ButtonHilight);
  --noright-border-raised-inner: inset 0px -2px var(--ButtonShadow),
    inset 2px 2px var(--ButtonLight);  
  --nobottom-border-raised-outer: inset -1px 0px var(--ButtonDkShadow),
    inset 1px 1px var(--ButtonHilight);
  --nobottom-border-raised-inner: inset -2px -0px var(--ButtonShadow),
    inset 2px 2px var(--ButtonLight);
  --nobottom-border-window-outer: inset -1px 0px var(--ButtonDkShadow),
    inset 1px 1px var(--ButtonLight);
  --nobottom-border-window-inner: inset -2px -0px var(--ButtonShadow),
    inset 2px 2px var(--ButtonHilight);
  --tophighlight: inset 0px 1px var(--ButtonHilight);

  /* Groupboxes and separators */
  --groupbox: inset -1px -1px var(--ButtonHilight), inset -2px 1px var(--ButtonShadow), inset 1px -2px var(--ButtonShadow), inset 2px 2px var(--ButtonHilight);
  --separator: inset -1px -1px var(--ButtonHilight), inset -2px 2px var(--ButtonShadow);  
}

/* Discord colors */
.theme-dark, .theme-light, body {
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive-background: rgb(0, 128, 0);
    --status-positive-text: #fff;
    --status-warning-background: rgb(128, 0, 0);
    --status-danger-background: rgb(255, 0, 0);
    --status-danger-text: #fff;
    --focus-primary: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}

.theme-light {
    --background-primary: var(--Window);
    --background-secondary: var(--ButtonFace);
    --background-tertiary: var(--Window);
    --text-normal: var(--ButtonText);
    --text-muted: var(--GrayText);
    --text-link: var(--Link);
}

.theme-dark {
    --background-primary: var(--Window);
    --background-secondary: var(--ButtonFace);
    --background-tertiary: var(--Window);
    --text-normal: var(--ButtonText);
    --text-muted: var(--GrayText);
    --text-link: var(--Link);
}