/* Classic Theme elements */
/* 7/28/23 */

/* Buttons */

/* Gray buttons */
.lookFilled-1H2Jvj.colorPrimary-2-Lusz, .lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover, .lookFilled-1H2Jvj.colorBrand-2M3O3N, .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover, .lookOutlined-3RTC7c.colorRed-2VFhM4, .lookOutlined-3RTC7c.colorRed-2VFhM4:hover, .lookFilled-1H2Jvj.colorRed-2VFhM4, .lookFilled-1H2Jvj.colorRed-2VFhM4:hover {
  box-sizing: border-box;
  border: none;
  background-color: var(--ButtonFace);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
  color: var(--ButtonText) !important;
 /* Metric stuff */
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
   height: 1px !important;
    font-size: var(--mainfontsize) !important;
    opacity: 1 !important;
}

/* active states */
.lookFilled-1H2Jvj.colorPrimary-2-Lusz:active, .lookFilled-1H2Jvj.colorBrand-2M3O3N:active, .lookOutlined-3RTC7c.colorRed-2VFhM4:active, .lookFilled-1H2Jvj.colorRed-2VFhM4:active {
  box-sizing: border-box;
  border: none;
  background: var(--ButtonFace);
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  padding: 2px 11px 0 13px;
  border-radius: 0;
  color: var(--ButtonText) !important;
}

/* end of buttons */



/* Checkboxes */

/* Listviews */

/* Settings pages */
/* global */
.contentRegionScroller-2_GT_N {
      background: var(--ButtonFace);
}

/* side bar */
.sidebarRegionScroller-FXiQOh {
background: var(--Window);
box-shadow: var(--text-box-border);
border: 9px solid var(--ButtonFace);
}

.side-2ur1Qk .item-3XjbnG {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 17px !important;
}

.side-1lrxIh .item-2GWPIy {
    padding: 0px 15px;
border-radius: 0px;
}

.sidebar-nqHbhN {
    padding: 14px 6px 6px 2px;
}

.item-2GWPIy {
line-height: 17px;
}

.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy, .topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy {
background-color: var(--Hilight);
color: var(--HilightText);
}

/* accounts */
.accountProfileCard-lbN7n- {
  box-sizing: border-box;
  border: none;
  background: var(--ButtonFace);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
}


.settingsBanner-1eDJ5w {
  box-sizing: border-box;
  border: none;
  background: var(--ButtonFace);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
}

.background-3d_SjE {
border: none;
        background-color: #0000;
    box-shadow: var(--groupbox);
    border-radius: 0px;
}

.fieldList-in8WkP {
    border-radius: 0px;
    background-color: #0000;
}

/* accounts */