@font-face {
    font-family: 'Marlett';
    src: url('https://aph6000.github.io/discord-winclassic/assets/marlett.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("https://aph6000.github.io/discord-winclassic/assets/old/MicrosoftSansSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("https://aph6000.github.io/discord-winclassic/assets/old/mssansserifbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
        --font-primary: var(--mainfont),"Microsoft Sans Serif",Tahoma,Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
        --font-display: var(--mainfont),"Microsoft Sans Serif",Tahoma,Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;


/* You can use your own custom fonts inplace of Pixelated MS Sans Serif */

/* Font settings */
 --CaptionFont: "Pixelated MS Sans Serif";
 --SmCaptionFont: "Pixelated MS Sans Serif";
 --CaptionFont-text-size: 11px;
 --mainfont: "Pixelated MS Sans Serif";
 --mainfontsize: 11px;
 --mainfontcolor: var(--ButtonText);
 --mainfontselectedcolor: var(--HilightText);
 --InfoWindow-font: "Pixelated MS Sans Serif";
 --InfoWindow-size: 11px;
}
